.navbar-inverse .navbar-brand {
    color: black;
}

table {
    /* 
        TODO:
        implement centration of table on the page !!!
        implement centration of table on the page !!!
        implement centration of table on the page !!!
        implement centration of table on the page !!!
        implement centration of table on the page !!!
        */
    margin-left: -7%;
}

tr:hover td {
    background-color: #FFE18F;
}

tr, td, th {
    background-color: white;
    border: solid 1px black;
    min-width: 1.1em;
    text-align: center;
    white-space: nowrap;
}

    tr:last-child td {
        font-weight: bold;
    }

    td:nth-child(2), td:nth-child(3) {
        padding-left: 3px;
        text-align: left;
    }

    td:nth-child(1), td:nth-child(1n+4) {
        padding: 2px;
        text-align: center;
    }

    /*#region VERTICAL ROTATION */
    th.rotate {
        /* Something you can count on */
        height: 133px;
    }

        th.rotate > div {
            transform:
            /* Magic Numbers */
            translate(0px, 65px)
            /* 45 is really 360 - 45 */
            /* rotate(315deg); */
            rotate(-90deg);
            width: 20px;
        }

            th.rotate > div > span {
                font-weight: normal;
                padding: 0 10px;
            }
/*#endregion */

#formBox {
    height: 100%;
    width: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #337AB7;
    display: none;
    overflow: auto;
}

div#hiddenForm {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -202px;
}

#postForm {
    max-width: 300px;
    max-height: 250px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

    #postForm p {
        color: black;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

#closeFormBtn {
    float: right;
    margin-left: 5px;
    color: black;
}

#chkFrmBtn {
    float: right;
    margin-top: -35px;
    margin-right: -30px;
}
