.navbar-inverse .navbar-brand {
    color: black;
}

table {
    /* TODO REFACTOR - BUT SOMTIMES HELPS */
    margin-left: -20px;
    /* TODO REFACTOR - BUT SOMTIMES HELPS */
}

td:hover {
    background-color:darkgrey;
}

tr, td, th {
    background-color: white;
    border: solid 1px black;
    min-width:1.1em;
    text-align: center;
    white-space: nowrap;
}

    td:nth-child(2), td:nth-child(3) {
        padding-left: 3px;
        text-align: left;
    }

    td:nth-child(1), td:nth-child(1n+4) {
        padding: 2px;
        text-align: center;
    }

    th.rotate {
        /* Something you can count on */
        height: 130px;
    }

        th.rotate > div {
            transform:
            /* Magic Numbers */
            translate(0px, 62px)
            /* 45 is really 360 - 45 */
            /* rotate(315deg); */
            rotate(-90deg);
            width: 20px;
        }

            th.rotate > div > span {
                font-weight: normal;
                padding: 0 10px;
            }

table tr td:empty {
        background-color: red;
    }