tr, td, th {
    background-color: white;
    border: solid 1px black;
    text-align: center;
    white-space: nowrap;
}

    td:nth-child(2), td:nth-child(3) {
        padding-left: 3px;
        text-align: left;
    }

    td:nth-child(1), td:nth-child(1n+4) {
        padding: 1px;
        text-align: center;
    }

    th.rotate {
        /* Something you can count on */
        height: 130px;
        
    }

        th.rotate > div {
            transform:
            /* Magic Numbers */
            translate(0px, 62px)
            /* 45 is really 360 - 45 */
            /* rotate(315deg); */
            rotate(-90deg);
            width: 20px;
        }

            th.rotate > div > span {
                font-weight: normal;
                padding: 0 10px;
            }



/*#monthViewTable {
    background-color: white;
    font-family: Consolas;
}

.container {
    background-color: grey;
    width: 99%;
    padding: 1px;
}

table {
    background-color:green;
    position: fixed;
    margin-left:-200px;
    width:1492px
}

tr, td, th {
    border: solid 1px black;
}

.table > tbody > tr > td {
    padding:1px;
}

td, th {
    font-size: small;
    width: 1px;
    text-align: center;
    vertical-align: central;
}

table tr:first-child {
    background-color: rgb(209, 207, 207);
}

table td:nth-child(-n+2) {
    text-align: left;
}

table, tr, td, th {
    border: 1px solid #000;
    position: relative;
    padding: 0px;
}

    th span {
        transform-origin: 0 50%;
        transform: rotate(-90deg);
        white-space: nowrap;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
    }

.table tbody > tr > th {
    vertical-align: bottom;
    font-size: small;
}*/
