@*@model IEnumerable<TimeSheet_Of_Personnel.Models.EmploMonthRow>*@

@{
    ViewBag.Title = "MonthView";
}

<link href="~/Content/a-time-sheet.css" rel="stylesheet" />

<h3>@ViewBag.MonthDate.ToString("MMMM, yyyy")</h3>

<table id="monthViewTable">

    <tr>
        <th>№</th>
        <th>П.І.Б.</th>

        <th class="rotate"><div><span>редагувати дні</span></div></th>

        <th>Посада</th>
        <th class="rotate"><div><span>жінка</span></div></th>
        <th class="rotate"><div><span>Табельний №</span></div></th>


        @* WRITE NUMBERS OF MONTH-DAYS ( -15 ADDITIONAL COLUMNS ) *@

        @for (int i = 1; i < (ViewBag.columns) - 15; i++)
        {
            <th> <br /><br /><br /><br /><br /> @i </th>
        }

        <th class="rotate"><div><span>фактично відпрац.</span></div></th>
        <th class="rotate"><div><span>відпустка</span></div></th>
        <th class="rotate"><div><span>відп.(вагіт./дог.дит)</span></div></th>
        <th class="rotate"><div><span>відп. (не оплачув.)</span></div></th>
        <th class="rotate"><div><span>відрядження</span></div></th>
        <th class="rotate"><div><span>відгул</span></div></th>
        <th class="rotate"><div><span>неявк з незяс.прич.</span></div></th>
        <th class="rotate"><div><span>підвищ.кваліфік.</span></div></th>
        <th class="rotate"><div><span>хвороба</span></div></th>
        <th class="rotate"><div><span>вихідні,святкові дні</span></div></th>

    </tr>

    @for (int i = 0; i < ViewBag.rows; i++)
    {
        <tr>
            @for (int k = 0; k < ViewBag.columns; k++)
            {
                if (k == 2)
                {
                    <td>
                        @Html.ActionLink(" ", "Create", "CalendRecords", new { id = ViewBag.calendMatrix[i, 5] }, new { @class = "glyphicon glyphicon-pencil" })
                    </td>
                }
                else
                {
                    <td>
                        @ViewBag.calendMatrix[i, k]
                    </td>
                }
            }
        </tr>
    }
</table>

@section monthViewScripts{
    @Scripts.Render("~/bundles/monthView")
}