@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Веб-додаток для ведення табелю робочих днів працівників </p>
    <p>для HR-спеціаліста або працівника відділу кадрів..</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary ">Додаткова інформація &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            <h4>Test of JQuery.UI DataPicker</h4>
        </p>
        <hr />
        <form class="form-horizontal">
            <input type="date" />
        </form>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>