@{
    ViewBag.Title = "Home Page";
}

<div>&nbsp;</div>

<div class="jumbotron">

    <h3 style="margin:-10px 0 20px;">
        <b>Веб-додаток "ТАБЕЛЬ ПРАЦІВНИКІВ" призначений :</b>
    </h3>
    <hr />
    <ul>
        <li>
            <p>для полегшення та зручності роботи працівника відділу кадрів або HR-спеціаліста.</p>
        </li>
        <li>
            <p>ведення обліку та збереження історії по працівникам організації.</p>
        </li>
        <li>
            <p>автоматичного розрахунку сумарної кількості робочих днів, вихідних та святкових, відпусток, лікарняних, тощо.</p>
        </li>
        <li>
            <p>сумарного розрахунку днів загалом та окремо по категоріяx.</p>
        </li>
        <li>
            <p>розрахунку загальної кількості годин по організації за місяць.</p>
        </li>
        <li>
            <p>а також, для виконання інших корисних функцій, які будуть запропоновані користувачами.  :)</p>
        </li>
    </ul>
</div>